---
import Layout from "../layouts/Layout.astro";
import {members} from "../data/members";
const {member} = Astro.params

const info = members.find(b => b.id == member)

if(!info){
    return Astro.redirect("/404")
}
---
<Layout title={`${info.title}`}>
    <main class=" m-auto max-w-4xl">
        <div class="grid grid-cols-2 gap-x-10 text-center mt-16 mb-5">
            <div class="flex flex-col">

                <picture class="w-full-relative">
                    <img class=" aspect-[150/200] h-full object-cover w-full max-w-full rounded" src={info.img} alt={info.title}>
                </picture>
                
            </div>
            <aside>
                <h1 class=" text-white text-7xl mt-40 my-9">{`${info.title}`}<h1/>
                <p class="text-white text-4xl"><span class="font-bold text-white">Profesion:</span> {info.profesion}<p/>
            </aside>
        </div>
        <div class="text-center">
            <a class="text-center" href="404">
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                    <span class="sr-only">Icon description</span>
                </button>
            </a>    
        </div>
        
    </main>
</Layout>